:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont: "Raleway", sans-serif;
  --textFont: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: var(--gris1);
  font-family: var(--textFont);
  font-size: 16px;
  font-size: 1.6rem;
  min-height: 100%;
}

h1,
h2 {
  color: var(--gris2);
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem;
  text-align: center;
}

h1 span {
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--gris2);
  text-decoration: none;
}

/** BOTONES **/
.btn {
  border: 0;
  border-radius: 0.5rem;
  font-family: var(--headingFont);
  font-size: 1.4;
  font-weight: 400;
  margin-top: 2rem;
  padding: 1.5rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  cursor: pointer;
}

.btn-primario {
  background-color: var(--gris2);
  color: var(--blanco);
}

.btn-primario:hover {
  background: var(--gris3);
}

.btn-secundario {
  background-color: var(--gris1);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-submit:hover {
  background-color: var(--gris2);
}

.btn-blank {
  background-color: transparent;
  display: block;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .contenedor-app {
    display: flex;
    min-height: 100vh;
  }

  aside {
    background-color: var(--blanco);
    flex: 0 0 300px;
  }

  .seccion-principal {
    flex: 1;
  }
}

/* BARRA LATERAL */
aside {
  padding: 3rem;
}

.input-text {
  border: 0;
  border-radius: 0.5rem;
  flex: 1;
  padding: 1rem;
  width: 100%;
}

.formulario-nuevo-proyecto {
  margin-top: 6rem;
}

.formulario-nuevo-proyecto .input-text {
  background-color: var(--gris1);
  border-bottom: 1px solid var(--gris2);
  border-radius: 0;
}

.formulario-nuevo-proyecto .input-text::placeholder {
  color: var(--gris2);
}

.proyectos {
  margin-top: 10rem;
}

.nav-principal a {
  color: var(--blanco);
  text-decoration: none;
}

.listado-proyectos li {
  margin-bottom: 2rem;
}

.listado-proyectos li a {
  color: var(--gris2);
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
}

.app-header {
  background-color: var(--gris2);
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}

.nombre-usuario {
  color: var(--blanco);
  font-size: 2.2rem;
  margin: 0;
}

.nombre-usuario span {
  font-weight: 900;
}

.nav-principal a:first-of-type {
  margin-right: 2rem;
}

/** Formulario crear y editar tareas **/
.formulario {
  background-color: var(--gris3);
  padding: 4rem;
}

.formulario form {
  margin: 0 auto;
  max-width: 600px;
}

.contenedor-input {
  display: flex;
}

.contenedor-input label {
  color: var(--blanco);
  margin-bottom: 1rem;
}

/** TAREAS LISTADO **/
.contenedor-tareas {
  padding: 4rem;
}

.listado-tareas {
  margin: 0 auto;
  max-width: 600px;
}

.tarea {
  align-items: center;
  background-color: var(--blanco);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
}

.sombra {
  box-shadow: 0 4px 10px -3px rgba(117, 117, 117, 1);
  box-shadow: 0 4px 10px -3px rgba(117, 117, 117, 1);
  box-shadow: 0 4px 10px -3px rgba(117, 117, 117, 1);
}

.sombra-dark {
  box-shadow: 0 6px 11px -8px rgba(0, 0, 0, 0.9);
  box-shadow: 0 6px 11px -8px rgba(0, 0, 0, 0.9);
  box-shadow: 0 6px 11px -8px rgba(0, 0, 0, 0.9);
}

.tarea .btn {
  border-radius: 0;
  font-size: 1.4rem;
  margin: 0;
  padding: 0.8rem;
}

.tarea .acciones .btn:first-of-type {
  margin-right: 1rem;
}

.tarea p {
  flex: 1;
  font-size: 1.6rem;
  padding-right: 2rem;
}

.estado {
  margin-right: 1rem;
}

.estado button,
.mensaje {
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: var(--textFont);
  font-size: 1rem;
  font-weight: 900;
  padding: 0.5rem;
}

.mensaje {
  border-radius: 0;
  font-size: 1.6rem;
  text-align: center;
}

.mensaje:hover {
  cursor: default;
}

.completo,
.correcto {
  background-color: rgba(154, 252, 154, 0.3);
  color: var(--gris3);
}

.incompleto {
  background-color: rgba(255, 178, 178, 0.4);
  color: var(--gris3);
}

.error {
  background-color: rgb(170, 0, 0);
  color: var(--blanco);
  margin: 2rem auto 0;
  max-width: 600px;
}

.tarea-enter,
.proyecto-enter {
  opacity: 0;
}

.tarea-enter-active,
.proyecto-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.tarea-exit,
.proyecto-exit {
  opacity: 1;
}

.tarea-exit-active,
.proyecto-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.form-usuario {
  align-items: center;
  background-color: var(--gris2);
  display: flex;
  height: 100vh;
  justify-content: center;
  min-height: 800px;
}

.contenedor-form {
  background-color: var(--blanco);
  border-radius: 1rem;
  max-width: 500px;
  padding: 5rem 3rem;
  width: 95%;
}

.campo-form {
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
}

.campo-form:last-of-type {
  margin: 0;
}

.campo-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}

.campo-form input[type="password"],
.campo-form input[type="email"],
.campo-form input[type="text"] {
  border: 1px solid #e1e1e1;
  flex: 1;
  padding: 1rem;
}

.enlace-cuenta {
  display: block;
  margin-top: 2rem;
  opacity: 0.7;
}
